@inject Microsoft.JSInterop.IJSRuntime JsRuntime;

<a role="button" @onclick="@OnClicked" class="ec-btn ec-btn-download">@ChildContent</a>

@code {
    private void OnClicked() =>
        JsRuntime.InvokeAsync<string>("msSaveBlob", new object[] { Payload, FileName });

    // Content output between <a> child content </a>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// Gets or Sets the data to be downloaded by the client.
    /// </summary>
    [Parameter]
    public string Payload { get; set; }

    /// <summary>
    /// Gets or Sets the specified file name.
    /// </summary>
    [Parameter]
    public string FileName { get; set; }
}